/*.tooltip {*/
/*    position: absolute;*/
/*    text-align: center;*/
/*    font: 12px sans-serif;*/
/*    !*  pointer-events: none;	This line needs to be removed *!*/
/*}*/
/*.tooltip h3,h4 {*/
/*    text-align: left;*/
/*}*/

/*.connection {*/
/*    stroke: black;*/
/*    stroke-dasharray: 5;*/
/*    stroke-width: 3px;*/
/*    opacity: 0.7;*/
/*}*/

h1{
    font: 100px Courier,Georgia, Palatino, serif;
    color: #1DA1F2;
}
h2{
    font: 80px Courier,Georgia, Palatino, serif;
    color: #657786;
}

h4{
    font: 10px Courier,Georgia, Palatino, serif;
    color: #657786;
}
.bar-title{
    font: 30px Courier,Georgia, Palatino, serif;
    fill: #1DA1F2;
}
.inline-block-child {
    display: inline-block;
}
.rotate15 {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}

.reset{
    background-color: black;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    /*padding: 5px 10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px;
}

.rcorners {
    border-radius: 25px;
    border: 5px solid #1DA1F2;
    margin-left: 12px;

}

img{
mix-blend-mode: multiply;
}

.content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}